@use 'src/styles/vars';

// mon button
.header__user-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  box-shadow: 2px 2px 4px 0.1px #00000080;
  -webkit-box-shadow: 2px 2px 4px 0.1px #00000080;
  -moz-box-shadow: 2px 2px 4px 0.1px #00000080;
  border-radius: 5px;
  letter-spacing: 0.20rem;
  font-size: 12px;
  padding: 0.5rem 1rem;
}
.header__user-button:active {
  box-shadow: none;
}

.button--connexion {
  background: vars.$color-darker-green;
}
.button--subscribe {
  background: vars.$color-light-gray;
}
.button--disconnect {
  background: vars.$color-light-gray;
}