.header__user-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.button--connexion {
  font-size: 12px;
  padding: 0.5rem;
  letter-spacing: 0.25rem;
  border-radius: 6px;
}