@use 'src/styles/vars';

//todo style générique pour tous les boutons
//! NE PAS TOUCHER SANS ACCORD VERBAL DU GIT MASTER (moi 😎)
.btn {
  display: block; //? ??
  font-family: Helvetica;
  border-top: none;
  border-left: none;
  border-right: none;
  color: vars.$color-text;
  border-radius: 10px;
  transition: 150ms ease;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 2px 10px grey;
}
.btn:active {
  box-shadow: 0px 1px 5px grey;
  border: none;
  // color: vars.$color-text;
}
.btn:hover {
  color: vars.$color-hover;
}

/* ---------- Boutons custom en bas ---------- */

//todo Bouton Se connecter
.btn--signin {
  //? d'abord la clair puis la foncé
  background: linear-gradient(#469e3f,#255b20);
  font-size: 1rem;
}
.btn--signin:active {
  //? d'abord la foncé puis la clair
  background: linear-gradient(#255b20,#469e3f);
}

//todo Bouton s'inscrire
.btn--signup {
  background: linear-gradient(#5FDDFF, #53ADDF);
  font-size: 1rem;
}
.btn--signup:active {
  background: linear-gradient(#53ADDF,#5FDDFF);
  
}

//todo Bouton recherche
.btn--search {
  background: linear-gradient(vars.$color-dark-green, vars.$color-light-green);
  width: 40%;
  margin: 2rem auto 0 auto;
}
.btn--search:active {
  background: linear-gradient(vars.$color-light-green, vars.$color-dark-green);
}