//1eme palette https://colorhunt.co/palette/3e8e7e7cd1b8fabb51faedc6
// $color-dark-main: #3E8E7E;
// $color-light-main: #7CD1B8;
// $color-orange: #FABB51;
// $color-light-yellow:#FAEDC6;

//3eme palette https://colorhunt.co/palette/233e8b1eae98a9f1dfffffc7
// $color-dark-blue: #233E8B;
// $color-light-main: #5b78a0;
// // $color-dark-main: #1EAE98;
// $color-dark-main: #334257;
// $color-light-yellow: #f7ece4;

$color-dark-blue: #233E8B;
$color-light-main: #398AB9;
$color-dark-main: #1C658C;
$color-light-yellow: #EEEEEE;

$color-text: #fff;
$color-hover: #aaa;

$color-light-gray: #aaa;
$color-extra-dark-blue: #373a47;
$color-red: #a90000;
$color-lighter-gray:#bdc3c7;
$color-overlay-burger: #0000004d;
$color-extra-lighter-gray: #ebebeb;

// $color-darker-main: #0f4829;
// $color-dark-main: #7e2da3;
// $color-darker-main: #3e71fd;
// $color-light-main-bis: #88fadd;