//1eme palette https://colorhunt.co/palette/3e8e7e7cd1b8fabb51faedc6
// $color-dark-green: #3E8E7E;
// $color-light-green: #7CD1B8;
// $color-orange: #FABB51;
// $color-light-yellow:#FAEDC6;

//3eme palette https://colorhunt.co/palette/2c289139a3881c7947fffd95
$color-dark-blue: #2C2891;
$color-light-green: #78b0a2;
$color-light-green-bis: #88fadd;
// $color-dark-green: #1c7947;
// $color-darker-green: #0f4829;
$color-dark-green: #7e2da3;
$color-darker-green: #3e71fd;
$color-light-yellow: #FFFD95;

$color-light-gray: #aaa;
$color-extra-dark-blue: #373a47;
$color-red: #a90000;
$color-lighter-gray:#bdc3c7;
$color-overlay-burger: #0000004d;
$color-extra-lighter-gray: #ebebeb;