@use "src/styles/vars";

//todo style générique au field
.form {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 1rem;
  width: 14rem;
  display: block;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//todo field pour le formulaire de recherche
.form__search {
  background-color: vars.$color-dark-green;
  color: #fff;

  &::placeholder {
    color: vars.$color-light-green;
  }
}
