@use "src/styles/vars";


//todo style générique au field
.form__input {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 1rem;
  width: 14rem;
  display: block;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }


  &::placeholder {
    color: vars.$color-light-gray;
  }
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//todo field pour le formulaire de recherche
.form__search {
  background-color: vars.$color-dark-main;
  color: vars.$color-text;
  
  &::placeholder {
    color: vars.$color-light-main;
  }
}

//todo field pour le formulaire de login
.form__login-field {
  height: 2rem;
  font-size: 1rem;
}

//todo field pour le formulaire de login mobile
.form__login-page-field {
  margin-bottom: 0.8rem;
}