@use "src/styles/vars";

.header {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    color: vars.$color-darker-green;
    position: fixed;
    top: 0;
    // border: 1px solid;
    min-height: 75px;
    width: 100%;
    font-size: 3rem;
    padding-left: 2rem;
    
    &__title {
        font-family: "Redressed", cursive;
        padding-left: 7rem;
    }
  
    &__logo {
      width: 50px;
    }

    /* temporaire le temps de styliser le bouton */
    &__user-button {
      margin-right: 1rem;
    }
    /* ------------------------------------------ */
  }
}
