@use 'src/styles/vars';


.contact-container {
  
}

.contact-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;;
}

.contact {
  z-index: 2; // important pour bg du form
  position: relative; // important pour bg du form
  display: flex;
  flex-wrap: wrap;
  
  // background-image: url(../../assets/img/team-background-2.jpg);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // height: 10rem;

  &__team {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
    width: 100%;

    &-item {
      text-align: center;
      margin-bottom: 1rem;;

      &-name {
        font-weight: bold;
      }
    }

    &-picture {
      width: 12rem;
      height: 12rem;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin: 1em;   
    }

    &-picture.picture1 {
      background-image: url(../../assets/img/exemple1.jpg);
    }
    &-picture.picture2 {
      background-image: url(../../assets/img/exemple2.jpg);
    }
    &-picture.picture3 {
      background-image: url(../../assets/img/exemple3.jpg);
    }
    &-picture.picture4 {
      background-image: url(../../assets/img/exemple4.jpg);
    }


    // &-picture {
    //   max-width: 10rem;
    //   max-height:10rem;
    //   overflow: hidden;
    //   border-radius: 50%;

    //   &-portrait {
    //     width: 100%;
    //     height: auto;
    //   }

    //   &-paysage {
    //     width: auto;
    //     height: 100%;
    //     // margin-left: -50px;
    //   }
    // }
  }

  &__form {
    width: 15em;
    height: 15em;
    background-color: lightcyan;
  }

  //* gestion du background img https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity-fr
  &__background {
    position: absolute;
    left: 0;
    top: -10rem;
    width: 100%;
    height: auto;
    opacity: 0.3;
    // margin-top: -8em;
    z-index: -1;
  }

}

@media screen and (min-width: 768px) {

  .contact-container {
    margin-top: -2rem;
  }
  .contact {
    &__team {
      width: 50%;
      flex-direction: row;
      justify-content: center;

      &-picture {
        width: 14rem;
        height: 14rem;
      }
    }
    &__form {
      width: 50%;
    }
  }
}