@use "src/styles/vars";

// taille mobile : 
.footer {
  background: linear-gradient(vars.$color-light-green, vars.$color-dark-green);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__links {
    display: flex;
    padding: 1rem 1rem;
    color: vars.$color-text;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    a, p {
      margin-top: 0.5rem;
    }

    a:hover {
      color: vars.$color-hover;
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 350ms;
    }
  }

  
  &__socials {
    
    padding: 0.7rem 1rem;
    text-align: center;

    &-item {
      width: 3rem;
      margin: 0 1rem;
      // transition: all .2s ease-in-out //! ne fonctionne pas
    }

    &-item:hover {
      cursor: pointer;
    }
  }

  //version desktop
  @media screen and (min-width: 600px) {
    &__links {
      flex-direction: row;
      align-items: center;

      p, a {
        margin: 0 1rem;
      }
    }

  }

  @media screen and (min-width: 768px) {
    & {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  // &__links > a::before {
  //   content : "- ";
  // }
}

